<!DOCTYPE html>
<html>
<head>
<title>Status</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, minimum-scale=0.1" />
<link rel="icon" href="/.sso/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/.sso/style.css" />
<style>
#claims {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0;
  padding: 0;
  border: solid 1px #606060;
  background-color: white;
}
#claims > div {
  border: solid 1px #404040;
  margin: 0;
  padding: 0.25em;
  overflow: scroll;
  white-space: nowrap;
}
</style>
</head>
<body>
<div id="buttons">
{{ if len .Claims | ne 0 }}
{{ if .Passkeys }}
<a class="button" href="/.sso/passkeys">Passkeys</a>
{{ end }}
<a class="button" href="/.sso/logout?u={{.Token}}">Switch Account</a>
<a class="button" href="/.sso/logout">Logout</a>
{{ else }}
<a class="button" href="/.sso/logout?u={{.Token}}">Login</a>
{{ end }}
</div>
<div id="message">
{{ if len .Claims | ne 0 }}
Your Identity
<div id="claims">
{{ range .Claims }}
<div>{{.Key}}</div>
<div>{{.Value}}{{ if eq .Key "picture" }}<br /><img style="max-width: 40vw; max-height: 40vh;" src="{{.Value}}" />{{ end }}</div>
{{ end }}
{{ else }}
Your Are Not Logged In
{{ end }}
</div>
</div>
</body>
</html>
