html {
  margin: 0;
  height: 100%;
  background: linear-gradient(30deg, skyblue, slateblue);
  background-attachment: fixed;
  color: black;
}
body {
  margin: 0;
  height: 100%;
  font-family: monospace;
}
#buttons {
  position: fixed;
  top: 10px;
  right: 2rem;
}
a {
  color: black;
  cursor: pointer;
}
a.button {
  text-decoration: none;
  border: solid 1px black;
  border-radius: 1rem;
  background-color: lightgray;
  color: black;
  margin: 0;
  padding: 0.5rem;
  line-height: 2.25rem;
  white-space: nowrap;
}
a.button:hover {
  background-color: darkgray;
}
#message {
  color: black;
  text-align: center;
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: clamp(20rem, fit-content, 90vw);
  max-height: 80vh;
  overflow: scroll;
}
